.btn-icon {
    cursor: pointer;
    transition: all .3s ease-in-out
}

.btn-icon:hover {
    transform: scale(1.15);
}

.widget-container {
    display: flex;
    flex-direction: column;
}

.widget-container .header-bg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    background-image: linear-gradient(to top, #1E1E1E, #070707);
    color: white;
    font-weight: 600;
}

.widget-container .header-bg .league-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.widget-container .header-text {
    font-size: 2.5vw;
}

.widget-container .header-text:first-of-type {
    font-weight: lighter;
}

.widget-container .header-text:last-of-type {
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
}

.widget-container .icon:first-child {
    width: 8vw;
}

.widget-container .icon {
    width: 5vw;
    height: 5vw;
}

.widget-container .court-image-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.widget-container .court-image-container .court-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: blur(5px);
}

.widget-container .court-image-container .absolute-card {
    width: 35%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto;
    place-items: center;
}

.widget-container .match-container {
    width: 100%;
    height: 100%;
    background-color: #010A0F;
}

.widget-container .team-text {
    color: white;
    font-size: .7vw;
    font-weight: 900;
    margin: 0;
    text-align: center;
    padding: .8rem 0;
}

.widget-container .vs-container {
    width: 100%;
    text-align: center;
    border-top: 1px solid #042A40;
    border-bottom: 1px solid #042A40;
    padding: .2rem 0;
}

.widget-container .prematch-vs {
    width: 15%;

}

.widget-container .schedule-bg {
    width: 80%;
    height: 100%;
    min-height: 2rem;
    font-size: .4vw;
    padding: .2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F2D37;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: 400;
}

#widget-frame {
    width: 700px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #widget-frame {
        width: 100%;
        height: 168px;
    }

}

/* Scoreboard CSS */

.widget-container .court-image-container .absolute-table {
    width: 95%;
    height: 80%;
    min-height: 110.125px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: rgba(0, 0, 0, .85);
    color: white;
}

.widget-container table {
    width: 100%;
    height: 100%;

}

.widget-container thead,
.widget-container tr {
    text-align: center;
}

.widget-container .schedule-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .2rem !important;
    padding: 0 1rem;
}

.widget-container th,
.widget-container td {
    padding: .5rem;
    font-size: 2vw;
    border: 1px solid #615d56 !important;
}

.widget-container th {
    text-align: center;
}

.widget-container thead {
    background-color: #1B1B1B;
    color: white;
}

.widget-container .team-title {
    color: #FF0000;
}

.widget-container .teams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.widget-container .team-name {
    font-size: 2vw;
    font-weight: bold;
    margin: 0;
}

.widget-container .vs {
    width: 10%;
}

.widget-container .match-schedule {
    font-size: 2vw;
    font-weight: bold;
}

.widget-container .total-score {
    font-weight: 900;
}

.widget-container .title-field {
    color: #00B2FF;
}

.widget-container .total-score.winning {
    font-size: 4vw;
    color: #00B2FF;
}

.widget-container .total-score.losing {
    font-size: 4vw;
    color: #FF8A00;
}

.widget-container .current-active-game {
    background-color: #042F9C;
}

.widget-container .overtime {
    background-color: #6D0303;
    color: white;
}